@model ProgramacionWeb3.WebApp.Models.PaqueteViewModel
@{
    ViewBag.Title = "Editar";
}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>Editar paquete @Model.Nombre</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            @using (Html.BeginForm("Editar", "Paquete", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.Foto)
                @Html.Partial("CreateEditFormPartial")
            }
        </div>
    </div>
</div>