
@using Microsoft.AspNet.Identity
@using ProgramacionWeb3.WebApp.Extensions
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Authorization", FormMethod.Post, new { id = "logoutForm", @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()
        <ul class="navbar-nav ">
            <li>
                <span class="nav-link">@($"Hola {User.Identity.ToPw3User().ApellidoNombre}!")</span>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Cerrar sesión</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav ">
        <li>
            @Html.ActionLink("Iniciar sesión", "Login", "Authorization", new { area = "" }, new { @class = "nav-link" })
        </li>
    </ul>


}
